.container {
    background: linear-gradient(360deg, #0F9EC8 0%, rgba(217, 217, 217, 0.00) 100%);
    padding: 4rem 0;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}