.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  .form {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
    row-gap: 1rem;
    .container {
      width: 90%;
      display: flex;
      flex-direction: column;
      .inputWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.2rem;

        border-radius: 0.8rem;
        background: linear-gradient(to right, #22405b, #00c3ff 98.21%);
        input {
          width: 99.5%;
          height: 2.1rem;
          outline: none;
          border: none;
          padding-left: 0.5rem;
          border-radius: 0.8rem;
        }
      }
    }
    .messageContainer {
      width: 90%;
      display: flex;
      flex-direction: column;
      .inputWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 9rem;

        border-radius: 0.8rem;
        background: linear-gradient(to right, #22405b, #00c3ff 98.21%);
      }
      input {
        width: 99.5%;
        height: 8.8rem;
        outline: none;
        border: none;
        border-radius: 0.8rem;
        padding-left: 0.5rem;
      }
    }
    .Button {
      border: none;
      color: white;
      font-size: 0.9rem;
      font-weight: 450;
      border-radius: 0.8rem;
      width: 20%;
      height: 2.5rem;
      background: linear-gradient(0deg, #22405b, #22405b);
    }
  }
}

@media only screen and (max-width: 1267px) {
  .wrapper {
    display: inline;
    margin-top: 2rem;
    margin-left: 2rem;
    .form {
      .Button {
        width: 40%;
      }
    }
  }
}

@media only screen and (max-width: 326px) {
  .wrapper {
    .form {
      .Button {
        width: 60%;
      }
    }
  }
}
