.Imgdiv {
  // background: black;
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  .Imge {
    width: 69%;
    height: fit-content;
  }
}

@media only screen and (max-width: 1100px) {
  .Imgdiv {
    .Imge {
      width: 90%;
    }
  }
}
