.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        width: 75%;
        background: linear-gradient(to right, #0F9EC8, #22405B);
        border-radius: 0.5rem;
    
        .subContainer {
            background: white;
            margin: 2px;
            border-radius: 0.5rem;
            padding: 1rem;
            display: flex;
    
            .details {
                width: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 1rem;
    
                .img {
                    width: 6rem;
                    height: auto;
    
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
    
            .name {
                display: flex;
                flex-direction: column;
                align-items: center;
    
                h3 {
                    font-size: 1.2rem;
                    font-weight: 500;
                    text-align: center;
                }
    
                .starContainer {
                    display: flex;
                    gap: 0.6rem;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.4rem;
    
                    .star {
                        display: flex;
                        align-items: center;
                        gap: 0.2rem;
                        font-size: 1rem;
                        color: #FDD835;
                    }
                }
            }
    
            .description {
                width: 80%;
                padding: 1rem 2rem;
                text-align: justify;
            }
        }
    }
}

@media (max-width: 828px) {
    .wrapper {
        .container {
            width: 90%;
        }
    }
}

@media (max-width: 772px) {
    .wrapper {
        .container {
            .subContainer {
                flex-direction: column;
                align-items: center;

                .details {
                    width: 100%;
                }
                
                .description {
                    width: 100%;
                    padding: 1rem 2rem;
                }
            }
        }
    }
}

@media (max-width: 498px) {
    .wrapper {
        .container {
            width: 100%;
            .subContainer {
                flex-direction: column;
                align-items: center;

                .details {
                    width: 100%;
                }
                
                .description {
                    width: 100%;
                    padding: 0.5rem;
                }
            }
        }
    }
}