.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 1.5rem 0;
  // padding: 2rem 10rem;

  h1 {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 500;
  }

  p {
    width: 80%;
    text-align: justify;
  }

  .subContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;
    justify-content: center;
    width: 80%;

    p {
      width: 100%;
      text-align: justify;
      // align-self: center;
    }

    button {
      background: linear-gradient(132deg, #0e9fc8 0%, #22405b 100%);
      color: white;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
      padding: 0.2rem 1rem;
    }
  }
}

@media (max-width: 1048px) {
  .container {
    gap: 1rem;
    h1 {
      font-size: 1.8rem;
    }

    p {
      width: 85%;
      font-size: 1rem;
    }
  }
}

@media (max-width: 603px) {
  .container {
    h1 {
      font-size: 1.6rem;
    }
  }
}

@media (max-width: 456px) {
  .container {
    h1 {
      font-size: 1.2rem;
    }

    p {
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 344px) {
  .container {
    h1 {
      // font-size: 1.1rem;
      padding: 0 1rem;
    }

    p {
      font-size: 0.8rem;
      width: 89%;
    }
  }
}
