.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem 10rem;

  h1 {
    font-size: 2.2rem;
    font-weight: 500;
  }

  p {
    text-align: justify;

  }
}
