.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  gap: 1.5rem;

  h1 {
    font-size: 2.2rem;
    font-weight: 500;
  }

  .subContainer {
    display: flex;
    justify-content: center;
    gap: 3rem;

    .sc {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      justify-content: space-between;

      .ele {
        text-align: justify;
        display: flex;
        height: auto;
        gap: 1rem;
        font-size: 1rem;
        // align-items: center;

        .icon {
          padding-top: 2px;
        }
      }
    }
  }
}
