.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .subContainer {
        display: flex;
        align-items: center;
        flex-direction: column;

        .h1 {
            font-size: 2.5rem;
            display: flex;
            align-items: center;
            gap: 10px;
            flex-direction: row;
        }
    
        p {
            font-size: 1.1rem;
        }
    }
}

@media (max-width: 774px) {
    .container {
        .subContainer {
            h1 {
                font-size: 1.4rem;
            }
            p {
                font-size: 1rem;
            }
        }
    }
  }

  
@media (max-width: 468px) {
    .container {
        .subContainer {
            h1 {
                font-size: 1.1rem;
            }
            p {
                font-size: 0.8rem;
            }
        }
    }
  }
