// .ocean {
//   height: 60vh;
//   width: 100%;
//   position: relative;
//   overflow-x: hidden;

//   .wave {
//     background: url(../../../public/wave.png) repeat-x;
//     position: absolute;
//     bottom: 0;
//     width: 6400px;
//     height: 100%;
//     animation: wave 38s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
//     transform: translate3d(0, 0, 0);
//     // z-index: 99;
//   }

//   .values {
//     // z-index: 100;
//     position: absolute;
//     height: 50vh;
//     bottom: 4rem;
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     // justify-content: space-evenly;
//     justify-content: flex-end;
//     gap: 2rem;
//     color: white;

//     h1 {
//       font-size: 2.2rem;
//       font-weight: 600;

//       .heart {
//         color: rgba(255, 0, 0, 0.973);
//         // background-color: red;
//       }
//     }

//     .counterDiv {
//       width: 100%;
//       display: flex;
//       justify-content: space-evenly;
//       // padding: 0 10rem;
//     }
//   }
// }

// @keyframes wave {
//   0% {
//     margin-left: 0;
//   }
//   100% {
//     margin-left: -1600px;
//   }
// }

// @media (max-width: 1049px) {
//   .ocean {
//     .values {
//       h1 {
//         font-size: 2rem;
//       }
//     }
//   }
// }

// @media (max-width: 900px) {
//   .ocean {
//     .values {
//       h1 {
//         font-size: 1.8rem;
//       }
//     }
//   }
// }

// @media (max-width: 650px) {
//   .ocean {
//     .values {
//       h1 {
//         font-size: 1.6rem;
//       }
//     }
//   }
// }

// @media (max-width: 550px) {
//   .ocean {
//     height: 50vh;
//     .values {
//       h1 {
//         font-size: 1.4rem;
//       }
//     }
//   }
// }

// @media (max-width: 440px) {
//   .ocean {
//     // height: 75vh;

//     .values {
//       h1 {
//         padding: 0 0.5rem;
//         text-align: center;
//         font-size: 1.2rem;
//       }

//       .counterDiv {
//         // padding: 1rem;
//         gap: 1rem;
//         flex-wrap: wrap;
//       }
//     }
//   }
// }

.ocean {
  background: url(../../../public/wave.png);
  background-size: auto 100%;
  height: 60vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 1.5rem;
  width: 100%;

  .values {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: #fff;
    width: 100%;

    h1 {
      font-size: 2.2rem;
      font-weight: 600;
      text-transform: capitalize;

      .heart {
        color: rgba(255, 0, 0, 0.973);
        // background-color: red;
      }
    }

    .counterDiv {
      width: 90%;
      display: flex;
      justify-content: space-evenly;
      // padding: 0 10rem;
    }
  }
}

@media (max-width: 1049px) {
  .ocean {
    height: 50vh;

    .values {
      h1 {
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: 900px) {
  .ocean {
    // height: 40vh;

    .values {
      h1 {
        font-size: 1.8rem;
      }
    }
  }
}

@media (max-width: 650px) {
  .ocean {
    // height: 35vh;

    .values {
      h1 {
        font-size: 1.6rem;
      }
    }
  }
}

@media (max-width: 550px) {
  .ocean {
    // height: 35vh;
    .values {
      h1 {
        font-size: 1.4rem;
      }
    }
  }
}

@media (max-width: 440px) {
  .ocean {
    height: 48vh;

    .values {
      h1 {
        padding: 0 0.5rem;
        text-align: center;
        font-size: 1.2rem;
      }

      .counterDiv {
        // padding: 1rem;
        gap: 1rem;
        flex-wrap: wrap;
      }
    }
  }
}

@media (max-width: 322px) {
  .ocean {
    height: 60vh;
  }
}
