@import "../../styles/config";

.nav {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem 0 0.1rem;
    font-family: $navbar-font-family;
    color: $primary-color;
    font-size: 1.1rem;
    font-weight: 400;
    z-index: 1000;
    

    .logo {
        width: 14rem;
        height: auto;
    
        img {
            height: 100%;
            width: 100%;
        }
    }

    ul {
        display: flex;
        gap: 2.5rem;

        li {
            list-style: none;
            position: relative;

            a {
                text-decoration: none;
                color: $primary-color;
            }

            ul {
                margin-top: 2rem;
                flex-direction: column;
                position: absolute;
                gap: 0.5rem;
                border-radius: 10px;
                background: #FFF;
                box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
                padding: 1rem;
                width: 10rem;
                display: flex;
                top: 0;
                z-index: 1001;

                li:last-child {
                    border: none;
                    padding-bottom: 0;
                }
                
                li {
                    padding-bottom: 0.5rem;
                    border-bottom: 2px solid #0E9FC8;
                    text-align: center;
                }

            }
        }
    }
}
