@import "../../../styles/config";

.container {
  width: 100%;
  display: flex;
  height: 60vh;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;

  .titleContainer {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

    .tContainer {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;

      h1 {
        font-size: 2.6rem;
        color: $primary-color;
        text-transform: capitalize;
      }

      .paraWrapper {
        width: 80%;

        .para {
          font-size: 1.2rem;
        }
      }

      button {
        border-radius: 0.9375rem;
        background: linear-gradient(92deg, #0f9ec8 0%, #22405b 102.03%);
        color: white;
        border: none;
        padding: 0.6rem 4rem;
        font-size: 1.1rem;
        cursor: pointer;
      }
    }
  }

  .imageContainer {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 85%;
      height: auto;
    }
  }
}

@media (max-width: 1308px) {
  .container {
    padding: 10rem 3rem;

    .titleContainer {
      .tContainer {
        gap: 1.6rem;

        h1 {
          font-size: 2rem;
        }
        .paraWrapper {
          .para {
            font-size: 1.1rem;
          }
        }

        button {
          font-size: 1rem;
          padding: 0.4rem 4rem;
        }
      }
    }
  }
}

@media (max-width: 1049px) {
  .container {
    padding: 6rem 2rem;

    .titleContainer {
      .tContainer {
        gap: 1.5rem;

        .paraWrapper {
          width: 80%;

          .para {
            font-size: 1rem;
          }
        }

        button {
          padding: 0.4rem 3rem;
        }
      }
    }
  }
}

@media (max-width: 842px) {
  .container {
    height: auto;
    padding: 1rem 1rem;
    flex-direction: column-reverse;
    margin-bottom: 4rem;

    .titleContainer {
      width: 100%;
      text-align: center;

      .tContainer {
        align-items: center;
      }
    }

    .imageContainer {
      width: 100%;
      margin-bottom: 3rem;

      img {
        width: 70%;
        height: auto;
      }
    }
  }
}

@media (max-width: 637px) {
  .container {
    // padding: 0;
    .titleContainer {
      .tContainer {
        h1 {
          font-size: 1.8rem;
        }
      }
    }
  }
}

@media (max-width: 547px) {
  .container {
    // padding: 0;
    margin-bottom: 1rem;

    .titleContainer {
      width: 90%;
      align-items: center;
      justify-content: center;

      .tContainer {
        width: 100%;
        gap: 0.8rem;

        h1 {
          font-size: 1.4rem;
        }

        .paraWrapper {
          width: 100%;

          .para {
            font-size: 0.9rem;
          }
        }

        button {
          border-radius: 0.9375rem;
          padding: 0.3rem 2rem;
          font-size: 0.8rem;
        }
      }
    }
    .imageContainer {
      margin-bottom: 1.6rem;
    }
  }
}

@media (max-width: 388px) {
  .container {
    .titleContainer {
      width: 100%;

      .tContainer {
        h1 {
          font-size: 1.2rem;
          font-weight: 600;
        }
      }
    }
  }
}
