.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .subContainer {
        font-size: 2.5rem;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    p {
        font-size: 1.1rem;
    }
}