.container {
    display: flex;
    width: 55%;
    border: 2px solid #0F9EC8;
    // padding: 1rem;
    border-radius: 1rem;
    margin-left: 2.5rem;

    .img {
        width: 30%;
        // height: 100%;
        position: relative;

        img {
            position: absolute;
            width: 100%;
            height: auto;
            left: -50%;
            top: -1%;
        }
    }

    .details {
        margin-left: -4rem;
        padding: 1rem 0;
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 0.6rem;

        h2 {
            font-size: 1.5rem;
            color: #22405B;
            font-weight: 600;
        }

        p {
            color: #0F9EC8;
            font-size: 0.8rem;
            font-weight: 400;
        }

        ul {
            padding-left: 1.8rem;

            li {
                font-size: 1rem;
            }
        }
    }

    .explore {
        width: 25%;
        padding-bottom: 1rem;
        padding-right: 1rem;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
}