.container {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    cursor: pointer;

    .questionContainer {
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;

        .question {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }

    .answer {
        padding: 1rem 2rem 0rem 2rem;

        p {
            text-align: justify;
        }
    }
}