.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .text1 {
    width: 90%;
    color: white;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 300;
  }
  
  .imgClass {
    width: 80%;
    height: auto;
  }
}

// @media only screen and (max-width: 768px) {
//   .imgClass {
//     width: 400px;
//     height: 300px;
//     margin-top: -10px;
//   }
//   .text1 {
//     width: 300px;
//   }
// }
// @media only screen and (max-width: 500px) {
//   .imgClass {
//     width: 0px;
//   }
//   .text1 {
//     width: 0px;
//   }
// }
