.heading {
  margin-top: -10px;
  font-weight: 600;
  font-size: 60px;
  line-height: 86.1px;
  align-items: center;
}

.description {
  font-weight: 400;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 15px;
}

.form {
  .divClass {
    padding-top: 5px;
    padding-bottom: 5px;
    .spanClass {
      font-weight: bold;
      color: red;
    }
    .inputBox {
      font-size: medium;
      font-weight: 500;
      width: 533px;
      height: 42px;
      padding-top: 1px;
      padding-left: 10px;
      border: 1px solid black;
      outline: linear-gradient(90.72deg, #22405b 2.52%, #0f9ec8 98.21%);
      border-radius: 17.2px;
    }
  }
  .batchAndCourseDiv {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    .batchDiv {
      display: flex;
      flex-direction: column;
    }
    .courseDiv {
      display: flex;
      flex-direction: column;
    }
    .spanClass {
      font-weight: bold;
      color: red;
    }
    .inputBox {
      font-weight: 500;
      width: 198px;
      height: 42px;
      padding-top: 1px;
      padding-left: 10px;
      border: 1px solid black;
      outline: linear-gradient(90.72deg, #22405b 2.52%, #0f9ec8 98.21%);
      border-radius: 17.2px;
    }
  }
  .bdayAndWhatsappDiv {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    .birthdayDiv {
      display: flex;
      flex-direction: column;
      .imgClass {
        position: absolute;
        margin-top: 33px;
        margin-left: 165px;
        width: 25px;
        height: inherit;
      }
    }
    .wappDiv {
      display: flex;
      flex-direction: column;
    }
    .spanClass {
      font-weight: bold;
      color: red;
    }
    .inputBox {
      font-weight: 500;
      width: 198px;
      height: 42px;
      padding-top: 10px;
      padding-left: 3px;
      border: 1px solid black;
      outline: linear-gradient(90.72deg, #22405b 2.52%, #0f9ec8 98.21%);
      border-radius: 17.2px;
    }
  }

  .registerDiv {
    display: flex;
    justify-content: center;
    .register {
      font-size: 15px;
      margin-top: 15px;
      border: 0px solid #22405b;
      background: #0e9fc8;
      color: white;
      width: 240px;
      height: 42px;
      border: none;
      border-radius: 0.8rem;
      cursor: pointer;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .form {
    width: 80%;
    .divClass {
      .inputBox {
        width: 450px;
      }
    }
  }
  .description {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .heading {
    font-size: 40px;
    // margin-left: 100px;
  }
  .description {
    width: 100%;
    // margin-left: 90px;
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    padding-top: 0px;
    padding-bottom: 10px;
  }
  .form {
    width: 90%;
    font-size: 16px;
    .divClass {
      width: 80%;
      .inputBox {
        height: 40px;
        width: 390px;
      }
    }
    .bdayAndWhatsappDiv {
      .inputBox {
        height: 40px;
        width: 150px;
      }
      .birthdayDiv {
        .imgClass {
          position: absolute;
          margin-top: 36px;
          margin-left: 122px;
          width: 25px;
          height: inherit;
        }
      }
    }
    .batchAndCourseDiv {
      .inputBox {
        height: 40px;
        width: 160px;
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .heading {
    font-size: 40px;
    margin-left: -100px;
  }
  .description {
    width: 100%;
    margin-left: -100px;
  }
  .form {
    width: 90%;
    font-size: 16px;
    .divClass {
      width: 80%;
      .inputBox {
        height: 40px;
        width: 100%;
      }
    }
    .bdayAndWhatsappDiv {
      width: 85%;
      .inputBox {
        height: 40px;
        width: 150px;
      }
    }
    .batchAndCourseDiv {
      width: 87%;
      .inputBox {
        height: 40px;
        width: 150px;
      }
    }
    .registerDiv {
      margin-left: 40px;
      width: 50%;
    }
  }
}
