.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Poppins;
  width: 55%;
  justify-content: space-evenly;
  height: 100%;

  .heading {
    // margin-top: -10px;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    color: #010101;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.0875rem;
  }

  .description {
    font-size: 0.9rem;
    padding-top: 0.3rem;
    padding-bottom: 1.3rem;
    text-align: center;
    width: 80%;
  }

  .form {
    width: 75%;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    .divClass {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      label {
        font-size: 1rem;
      }

      .spanClass {
        color: #ff3d00;
      }

      .inputWrapper {
        background: linear-gradient(to right, #22405b, #0f9ec8);
        border-radius: 0.8rem;
        padding: 1.1px;

        .inputBox {
          background: white;
          width: 100%;
          padding: 0.4rem 0.8rem;
          border: none;
          outline: none;
          border-radius: 0.69rem;
        }
      }
    }

    .selectWrapper {
      background: linear-gradient(to right, #22405b, #0f9ec8);
      border-radius: 0.8rem;
      // width: 100%;
      padding: 1px;

      .select {
        width: 100%;
        background: white;
        border-radius: 0.69rem;
      }
    }

    .bdayAndWhatsappDiv {
      display: flex;
      justify-content: space-between;
      gap: 2rem;

      .birthdayDiv {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .wappDiv {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .spanClass {
        font-weight: bold;
        color: #ff3d00;
      }
    }

    .register {
      margin-top: 1rem;
      font-size: 1rem;
      background: #0e9fc8;
      color: white;
      border: none;
      border-radius: 0.8rem;
      cursor: pointer;
      width: 30%;
      padding: 0.3rem;
      align-self: center;
    }
  }

  .referenceContainer {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    .refWrapper {
      display: flex;
      flex-direction: column;

      .ref {
        padding-left: 0.5rem;
        display: flex;
        gap: 1rem;
        align-items: center;

        label {
          font-size: 1rem;
        }
      }

      .inputWrapper {
        width: 80%;
        margin-left: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 864px) {
  .container {
    width: 100%;

    .form {
      width: 80%;
    }
  }
}

@media (max-width: 646px) {
  .container {
    .heading {
      font-size: 2.5rem;
    }

    .description {
      font-size: 0.7rem;
      padding-bottom: 1rem;
    }

    .form {
      width: 90%;
      gap: 1.4rem;

      .bdayAndWhatsappDiv {
        gap: 1.4rem;
        flex-direction: column;
      }

      .register {
        font-size: 0.9rem;
        width: 50%;
        padding: 0.4rem;
      }
    }
  }
}
